support_data/body_models/smplh
src/lvd_templ/__pycache__
*.pyc
human_body_prior*
storage/1ljjfnbx
utils_cop
data
lvd_templ.egg-info
outputs
neutral_smpl_with_cocoplus_reg.*
streamlitTempDir
output/1ljjfnbx
output/lvv6zyw4
old_demo
human_body_prior_git
storage/eeghfipg
storage/lvv6zyw4
output/FAUST_train_reg/
output/*.mat
human_body_prior_git/*
human_body_prior_git
multirun
output/FAUST_train_scans
output/FAUST_train_scans/_1ljjfnbx_out_ss_cham_0_2_
output/FAUST_train_scans/_lvv6zyw4_out_ss_cham_0_2_
demo/pc_andrea
demo/pc_andrea2
.vscode